body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.h1-decoration {
    font-size: 50px;
    font-weight: bold;
}

.first-section {
    background-image: url(./images/donation2.jpg);
    width: 100%vh;
    height: 700px;
    ;
}

.first-division {
    text-align: center;
    padding: 200px;

    .button-design {
        background-color: brown;
        padding: 10px 30px;
        border-radius: 5px;
        color: white;
        border-color: brown;

    }