body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.h1-decoration {
    font-size: 50px;
    font-weight: bold;
}

.first-section {
    background-image: url(./images/donation2.jpg);
    width: 100%vh;
    height: 700px;
    ;
}

.first-division {
    text-align: center;
    padding: 200px;
}

.button-design {
    background-color: brown;
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    border-color: brown;

}

.figure-amount {
    display: flex;
    border-style: none;
}

.card-section {
    align-items: center;
}

.card {
    display: flex;
    align-content: center;
}

.card-design {
    width: 250px;
    height: 200px;
    text-align: left;
    padding: 5px;
    margin: 10px;
    background-color: beige;
}

.icon-design {
    width: 30px;
}

.subscribe-button-section {
    background-color: aqua;
    width: 50%;
    height: 180px;
}

.footer-section {
    background-color: black;
    text-align: center;
    color: grey;
    height: 150px;
}

#footer-text-design {
    text-align: center;
    font-size: 35px;
    font-family: 'The Nautigal', cursive;
}